venv/
.venv/
__pycache__/
.env
*.pyc

*.ipynb
data/
satquery_dataset/
final_satquery_dataset/
unsloth_compiled_cache/

*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.geotiff
*.geotif




*.tar.xz
*.zip
*.pptx
*.pdf
*.mp4
docs/
datasets/
models/

checkpoints/
*.pth


.vscode/
.idea/