venv/
.venv/
__pycache__/
.env
*.pyc

*.ipynb
data/
satquery_dataset/
final_satquery_dataset/
unsloth_compiled_cache/

*.png
*.jpg
*.jpeg
*.tif
*.tiff
*.geotiff
*.geotif


*.tar.xz
*.zip
docs/
datasets/
models/

checkpoints/
*.pt
*.pth
*.safetensors

.vscode/
.idea/